body{
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 12, 58);
    color: azure;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label{
    display: block;
    margin: 0.5rem 0;
}

h1, p{
    margin: 1rem auto;
    text-align: center;
}

a{
    color: whitesmoke;
}

form{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
}

input, select, textarea{
    width:100%;
    margin: 0;
    margin-top: 8px;
    min-height: 2em;
    border-radius: 10px;
}

input,textarea{
    background-color: #161627;
    border: 1px solid #161627;
    color: white;
}

input[type="file"]{
    padding: 1px 2px;
}

fieldset{
    border:none;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type{
    border-bottom:none;
}

.inline{
    width: unset;
    margin: 0;
    margin-right: 0.5em;
    vertical-align: middle;
}

.btn-enviar{
    display: block;
    width: 40%;
    min-width: 250px;
    margin: 0 auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
}